# This folder has special rules because the models aremapped directly to HTTP API resources

[*.cs]
dotnet_naming_rule.properties_should_be_pascalcase.severity = silent

# Remove the underscores from member name
dotnet_diagnostic.CA1707.severity = none
